@font-face {
    font-family: 'Alegreya-Regular';
    src: url('../fonts/Alegreya-Regular.eot');
    src: local('☺'),
        url('../fonts/Alegreya-Regular.woff') format('woff'),
        url('../fonts/Alegreya-Regular.ttf') format('truetype'),
        url('../fonts/Alegreya-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url('../fonts/Alegreya-Bold.eot');
    src: local('☺'),
        url('../fonts/Alegreya-Bold.woff') format('woff'),
        url('../fonts/Alegreya-Bold.ttf') format('truetype'),
        url('../fonts/Alegreya-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.eot');
    src: local('☺'),
        url('../fonts/Rubik-Light.woff') format('woff'),
        url('../fonts/Rubik-Light.ttf') format('truetype'),
        url('../fonts/Rubik-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.eot');
    src: local('☺'),
        url('../fonts/Rubik-Regular.woff') format('woff'),
        url('../fonts/Rubik-Regular.ttf') format('truetype'),
        url('../fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}