@media(max-width: 1380px) {
    .header__address {
        order: 2;
        width: 100%;
        padding: 5px 0;

        span {
            display: inline-block;
        }
    }

    .header__inner {
        flex-wrap: wrap;
    }

    // .student__img {
    //     height: 500px;
    // }

    // .student__title {
    //     padding-top: 70px;
    // }
}

@media(max-width: 1100px) {
    .header__logo {
        max-width: 424px;
    }

    .header__logo-title {
        // max-width: 300px;
        font-size: 30px;
        line-height: 35px;
    }

    // .benefits__list {
    //     padding-bottom: 7px;
    // }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__address {
        width: 100%;
        text-align: center;
        order: 1;
        padding-top: 30px;
    }

    .footer__social {
        order: 1;
        margin: 0 auto;
        padding-top: 30px;
    }
}

@media(max-width: 880px) {
    .header__social {
        display: none;
    }

    .header__logo {
        width: 395px;
    }

    .header__logo img {
        width: 100px;
        height: 80px;
    }
}

@media(max-width: 620px) {

    .header__logo,
    .footer__logo {
        width: 283px;

        img {
            width: 80px;
            height: 67px;
        }

        &-title {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media(max-width: 500px) {

    .header__logo,
    .footer__logo {
        width: 214px;

        img {
            width: 70px;
            height: 59px;
        }

        &-title {
            font-size: 18px;
            line-height: 20px;
        }
    }

}

@media(max-width: 430px) {
    .header__logo,
    .footer__logo {
        width: 70px;
        &-title {
            display: none;
        }
    }

}